.page-header
  margin-bottom: 20px
  padding-top: 23px

  @media ($width-tablet)
    padding-top: 40px

  &__nav
    display: flex
    justify-content: space-between
    margin-bottom: 64px

    @media ($width-tablet)
      margin-bottom: 62px

  &__logo
    align-self: center

  &__wrap
    @media ($width-tablet)
      display: flex

  &__innerwrap
    @media ($width-tablet)
      width: 345px
      padding-top: 60px

  &__title
    font-size: 48px
    line-height: 48px
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 32px

  &__text
    font-size: 16px
    line-height: 26px
    font-weight: 500
    color: $color-light-slate-gray
    margin-bottom: 32px

    @media ($width-tablet)
      margin-bottom: 40px
      padding-top: 2px

